.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для шапки */
}

.logo {
  font-size: 1.5rem;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navItem a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navItem a:hover {
  color: #61dafb;
}

.active {
  text-decoration: underline;
}
